<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened [style.width]="'230px'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="0" class="sidebarbg logo">
  <img mat-card-image src="../../assets/img/maritech-logo-big.png" alt="Maritech" class="logo-large">
  <img mat-card-image src="../../assets/img/maritech-logo-small.png" alt="Maritech" class="logo-small">

  <mat-nav-list>  
    <a mat-list-item routerLink="/Dashboard" (click)="clickEvent()" [ngClass]="menucolor ? '' : 'active'">                            
      <mat-icon>dashboard</mat-icon>
      <p>Dashboard</p>
    </a>
  </mat-nav-list>
  <mat-nav-list>  
      <a mat-list-item routerLink="/Backup">                            
        <mat-icon>view_agenda</mat-icon>
          <p>Backup</p>
      </a>
      
    </mat-nav-list>
    <mat-nav-list>  
        <a mat-list-item routerLink="/Restore">                            
          <mat-icon>restore</mat-icon>
          <p>Restore</p>
        </a>
      </mat-nav-list>
      <mat-nav-list>  
          <a mat-list-item routerLink="/Usermanagement">                            
            <mat-icon>person</mat-icon>
            <p>User Management</p> 
          </a>
        </mat-nav-list>
         
        <mat-nav-list> 
            <mat-accordion> 
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a> <mat-icon>receipt</mat-icon>
                          <p>Reports</p>
                         </a>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="submenu">
                    <p>Backup</p><mat-icon>view_agenda</mat-icon>
                    <p>Restore</p><mat-icon>restore</mat-icon>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              </mat-nav-list>

              <mat-nav-list> 
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = false"
                  (closed)="panelOpenState = true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <a> <mat-icon>settings</mat-icon>
                            <p>Settings </p>
                          </a>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="submenu">
                      <p>Role</p><mat-icon>manage_accounts</mat-icon>
                      <p>Entity</p><mat-icon>token</mat-icon>
                      <p>Storage</p><mat-icon>inventory</mat-icon>
                      <p>Integration</p><mat-icon>add_link</mat-icon>
                      <p>Notification</p><mat-icon> notifications_none</mat-icon>
                      <p>Company</p><mat-icon>assured_workload</mat-icon>
                    </div>                    
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-nav-list>

</mat-sidenav>